# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/
frontend-A/node_modules/

# Logs
*.log

# Entornos
.env

# Salidas de compilación
dist/
build/

# Otros
.DS_Store 

# Archivos subidos
backend/uploads/ 