# Variables comunes
NODE_ENV=production

# Backend
MONGODB_URI=mongodb://admin:changeMeStrong@mongodb:27017/firmasDB?authSource=admin
JWT_SECRET=cambia_este_secreto_largo_y_unico
EMAIL_USER=correo@dominio.com
EMAIL_PASS=contrasena_app
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=correo@dominio.com
SMTP_PASS=contrasena_app
FRONTEND_URL=https://tu-dominio.com
WEBSOCKET_URL=http://websocket:3000

# Frontend
VITE_API_URL=https://tu-dominio.com/api
VITE_WS_URL=https://tu-dominio.com

# Nginx
# Si usas Let's Encrypt, cambia las rutas en nginx.conf
SERVER_NAME=tu-dominio.com
SSL_CERT_PATH=ssl/self-signed/fullchain.pem
SSL_KEY_PATH=ssl/self-signed/privkey.pem
